# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venvv/
.venvv/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv environment variables
.env

# OS-related files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Logs
*.log

# CSV or generated reports (optional)
scanner_output.csv
